/* Body */
body {
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-size: 100%;
    background-color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    padding: 10px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header*/
header {
    width: 100%;
    height: 550px;
    background: #dd3e54;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6be58580, #dd3e537d), url(../Img/logo-amalia-creativa.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6be58579, #dd3e533f), url(../Img/logo-amalia-creativa.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav>ul>li>a {
    color: rgb(0, 0, 0);
    font-weight: 300;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
}

nav>ul>li>a:hover {
    text-decoration: underline;
}

.imagen-port {
    display: flex;
    margin-left: 40px;
    margin-top: 50px;
    width: 100%;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 150px;
    font-family: 'Caveat', cursive;
}

.textos-header h2 {
    font-family: 'Caveat', cursive;
    font-size: 60px;
    font-weight: 300;
}

.textos-header {
    font-size: 50px;
    font-weight: 300;
    color: rgba(9, 9, 9, 0.811);
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;

}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 25px;
}

.contenido-textos h3 span {
    background: rgb(14, 125, 127);
    color: aliceblue;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*Productos*/
h1.tituloproducto {
    color: black;
    text-align: center;
}

.container-img {
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 250px;
}

.card .contenido {
    padding: 15px;
    text-align: center;
}

.card .contenido p {
    line-height: 1.5;
    color: #dd3e54;
}

.card .contenido h3 {
    font-weight: 400;
    margin-bottom: 15px;
}

/* Contacto */

form {
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;

}

h2 {
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    min-height: 100px;
    max-height: 250px;
    max-width: 100%;
    min-width: 100%;
}

#boton {
    background: #7f7b7b21;
    color: black;
    padding: 20px;
    border: gray;
}

#boton:hover {
    cursor: pointer;
}

@media (max-width:480px) {
    form {
        width: 100%;
    }
}

/*Sobre nosotros*/
/*Ubicacion*/

.ubicacion-principal .ubicacion-titulo {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 23vh;
}

.ubicacion-principal .ubicacion-titulo h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3rem;
}

.mapa-ubicado{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*historia*/
.parrafo {
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 400px;
padding: 20px 10px;
font-size: 20px;
box-shadow: 1px 5px 25px rgba(0, 0, 0, .45);
border-radius: 20px;
text-align: justify;
margin: auto;
}

.parrafo img{
    width: 100%;
    border-radius: 5px;
    float: right;
    margin-right: 15px;
}


/*Lo mas vendido*/
.titulo-slider{
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}

.slider-frame{
    width: 50%;
    height: 600px;
    margin: 50px auto 0;
    overflow: hidden;
}
.slider-frame ul{
    display: flex;
    width: 400%;
    animation: slide 10s infinite alternate linear;
}
.slider-frame li{
    list-style: none;
    width: 100%;
}
.slider-frame img{
    width: 100%;
    height: 100%;
}
@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}

}

/* Footer */

/* Footer Redes Sociales*/
footer .footer-sociales {
    display: flex;
    justify-content: center;
    line-height: 30px;
}

footer .footer-sociales nav ul {
    display: flex;
    list-style: none;
}

footer .footer-sociales nav ul li img:hover {
    background-color: #ff825f70;
    font-weight: bold;
    border-radius: 2.5rem;
}

/* Footer derechos reservados*/
footer .footer-derechos {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.078);
}

footer .footer-derechos p {
    text-align: center;
    font-size: 1.0rem;
    font-weight: bold;
}

footer .footer-derechos p a {
    font-size: 1.1rem;
    font-weight: bold;
}