body {
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-size: 100%;
  background-color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media only screen and (max-width: 320px) {
  body body {
    padding-top: 5.4rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  body body {
    padding-top: 6.3rem;
  }
}
@media only screen and (min-width: 769px) {
  body body {
    padding-top: 6.5rem;
  }
}
body .contenedor {
  padding: 10px 0;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
body .titulo {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 550px;
  background: #dd3e54;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(107, 229, 133, 0.5019607843), rgba(221, 62, 83, 0.4901960784)), url(../Img/logo-amalia-creativa.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(107, 229, 133, 0.4745098039), rgba(221, 62, 83, 0.2470588235)), url(../Img/logo-amalia-creativa.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
header nav {
  text-align: right;
  padding: 30px 50px 0 0;
}
header nav ul li a {
  color: rgb(0, 0, 0);
  font-weight: 300;
  text-decoration: none;
  font-size: 18px;
  margin-right: 10px;
}
header nav ul li a:hover {
  text-decoration: underline;
}
header .imagen-port {
  display: flex;
  margin-left: 40px;
  margin-top: 50px;
  width: 100%;
}
header .wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}
header .textos-header {
  display: flex;
  height: 450px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  color: rgba(9, 9, 9, 0.811);
}
header .textos-header h1 {
  font-size: 120px;
  font-family: "Caveat", cursive;
}
header .textos-header h2 {
  font-family: "Caveat", cursive;
  font-size: 60px;
  font-weight: 300;
}
.contenedor {
  padding: 10px 0;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.contenedor-sobre-nosotros {
  display: flex;
  justify-content: space-evenly;
}

.sobre-nosotros .contenido-textos {
  width: 50%;
}
.sobre-nosotros .contenido-textos h3 {
  margin-bottom: 20px;
}
.sobre-nosotros .contenido-textos span {
  background: rgb(14, 125, 127);
  color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  margin-right: 10px;
}
.sobre-nosotros .contenido-textos p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
  font-size: 20px;
}

.tituloproducto {
  color: black;
  text-align: center;
}
.tituloproducto h1 {
  color: black;
  text-align: center;
}

.cards {
  width: 100%;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.cards:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.cards img {
  width: 100%;
  height: 250px;
}
.cards .contenido {
  padding: 15px;
  text-align: center;
}
.cards .contenido p {
  line-height: 1.5;
  color: #dd3e54;
}
.cards .contenido h3 {
  font-weight: 400;
  margin-bottom: 15px;
}
.cards .cards-body {
  padding: 15px;
  text-align: center;
}
.cards .cards-body p {
  line-height: 1.5;
  color: #dd3e54;
}
.cards .cards-body h3 {
  font-weight: 400;
  margin-bottom: 15px;
}
.cards .cards-img-top {
  width: 100%;
  max-width: 1100px;
}

form {
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 10px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
}

h2 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  min-height: 100px;
  max-height: 250px;
  max-width: 100%;
  min-width: 100%;
}

#boton {
  background: rgba(127, 123, 123, 0.1294117647);
  color: black;
  padding: 20px;
  border: gray;
}

#boton:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  form {
    width: 100%;
  }
}
.mas-vendido {
  width: 80%;
  margin: auto;
  display: block;
}
.mas-vendido .carousel-inner {
  width: 100%;
  margin-bottom: 2rem;
}

footer .footer-sociales {
  display: flex;
  justify-content: center;
  line-height: 30px;
}
footer .footer-sociales nav ul {
  display: flex;
  list-style: none;
}
footer .footer-sociales img:hover {
  background-color: rgba(255, 130, 95, 0.4392156863);
  font-weight: bold;
  border-radius: 2.5rem;
}

footer .footer-derechos {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.078);
}
footer .footer-derechos p {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}
footer .footer-derechos p a {
  font-size: 1.1rem;
  font-weight: bold;
}

/* HISTORIA  SOBRE NOSOTROS */
.tituloproducto {
  margin-top: 2rem;
}

.card {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 20px 10px;
  font-size: 20px;
  text-align: justify;
  margin: auto;
  margin-top: 3rem;
}
.card img {
  width: 50%;
  border-radius: 5px;
  margin-right: 15px;
}
.card h3 {
  justify-content: center;
  text-align: center;
}
.card p {
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ubicacion-principal .ubicacion-titulo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 23vh;
}
.ubicacion-principal .ubicacion-titulo h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 3rem;
}

.mapa-ubicado {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
