footer .footer-derechos {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.078);

    p {
        text-align: center;
        font-size: 1.0rem;
        font-weight: bold;

        a {
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
}