.carrusel {
    h2 {
        font-family: $font-all-proyect;
        text-align: center;
        margin-top: 1rem;
    }

    .contenidocarrusel {
        margin-top: 2rem;
        height: 400px;
        width: 50%;
        overflow: hidden;
        justify-content: center;
        margin-left: 25%;
        border-radius: 25px;
        margin-bottom: 2rem;

        .itemcarrusel {
            height: 100%;
            position: relative;

            img {
                justify-content: center;
                width: 90%;
                height: 100%;
                border-radius: 25px;
            }

            .flechascarrusel {
                height: 100%;
                position: absolute;
                top: 0;
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px;


                a {
                    text-decoration: none;

                    i {
                        color: black;
                    }

                }

            }

            .tarjetacarrusel {
                height: 100%;
            }

        }
    }
}